{% extends 'base.html' %}

{% block title %}Crear Préstamo{% endblock %}

{% block content %}
<h1>Crear Préstamo</h1>

<form method="post">
    {% csrf_token %}
    
    <!-- Campo de Usuario -->
    <div style="margin-bottom: 15px;">
        <label for="id_usuario" style="display: block; margin-bottom: 5px;">Usuario</label>
        <select name="usuario" id="id_usuario" style="width: 100%; padding: 8px; font-size: 16px;">
            <option value="" selected disabled>Seleccionar Usuario</option>
            {% for usuario in form.usuario.field.queryset %}
                <option value="{{ usuario.id }}">{{ usuario.username }}</option>
            {% endfor %}
        </select>
    </div>

    
    <div class="mb-3">
        <label for="id_libro" class="form-label">Libro</label>
        <select name="libro" id="id_libro" class="form-select" required>
            <option value="" selected disabled>Seleccionar Libro</option>
            {% for libro in libros %}
            <option value="{{ libro.id }}" {% if libro.stock <= 0 %}disabled style="color: red;"{% endif %}>
                {{ libro.titulo }} (Stock: {{ libro.stock }})
            </option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label for="id_fecha_devolucion" class="form-label">Fecha Devolución</label>
        {{ form.fecha_devolucion }}
    </div>
    <div class="mb-3">
        <label for="id_estado" class="form-label">Estado</label>
        {{ form.estado }}
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a href="{% url 'prestamo-list' %}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}